<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" href="stylesheets/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="stylesheets/style.css">
	  <script src="javascripts/jquery-3.1.1.min.js"></script>
   </head>
   <body>
      <form action="index.html" method="post">
         <fieldset>
            <h4>AWS Integration Request Form</h4>
            <label for="req_url">URL:</label>
            <input type="text" id="req_url" name="req_url" value=""> 		
            <label for="req_method">Method:</label>
            <select id="req_method" name="req_method" >
               <option id="meth_get" value="GET" selected>GET</option >
               <option id="meth_post" value="POST" >POST</option >
               <option id="meth_put" value="PUT">PUT</option >
               <option id="meth_delete" value="DELETE" >DELETE</option >
            </select>
            <label for="req_headers">Request Headers:</label>
            <textarea id="req_headers" name="req_headers" rows="5" cols="20" >{"Content-Type":"application/json"}</textarea>			          		  
            <label for="req_body">Request Body:</label>
            <textarea id="req_body" name="req_body" rows="5" cols="20" ></textarea>
            <label for="results">Results:</label>
            <textarea id="results" name="results" rows="5" cols="100" value=""></textarea>
            <button type="button" id="frm_submit">Submit</button>
         </fieldset>
      </form>
      <script type='text/javascript'>
         $('#frm_submit').click(function(){
         	$.ajax({
				url: 'processpost',
			    type: "POST",
			    data: JSON.stringify({
					req_url: $("#req_url").val(),
					req_method: $("#req_method").val(),
					req_headers: $("#req_headers").val(),
					req_body: $("#req_body").val()
				}),
			    processData: false,  // tell jQuery not to process the data
			    contentType: 'application/json',   // tell jQuery not to set contentType			
				success: function (data) {				
					var fData = JSON.stringify(data, null, 2);
					$("textarea#results").empty().append(fData);					          			
				}
         	});	
         });	
      </script>   	  
   </body>
</html>